<article class="modal-movie-wrapper ">
    <div class="card-poster-wrapper">
        <img src="https://image.tmdb.org/t/p/w1280{{poster_path}}" class="modal-movie-poster" />
    </div>
    <div class="modal-movie-information">
        <h2 class="modal-movie-title">{{title}}</h2>
        <ul class="modal-movie-data">
            <li class="modal-movie-item">
                <p class="modal-movie-data-name">Vote / Votes</p>
                <p class="modal-movie-description">
                    <span class="modal-movie-description-vote">{{vote_average}}</span>
                    <span class="modal-movie-data-slash">/</span>
                    <span class="modal-movie-description-votes">{{vote_count}}</span>
                </p>
            </li>
            <li class="modal-movie-item">
                <p class="modal-movie-data-name">Popularity</p>
                <p class="modal-movie-description">{{popularity}}</p>
            </li>
            <li class="modal-movie-item">
                <p class="modal-movie-data-name">Original Title</p>
                <p class="modal-movie-description-title">{{original_title}}</p>
            </li>
            <li class="modal-movie-item">
                <p class="modal-movie-data-name">Genre</p>
                <p class="modal-movie-description">
                    {{#each genre}}
                    <span class="modal-movie-genre-name">{{name}} </span>
                    {{/each}}
                </p>
            </li>
        </ul>
        <p class="modal-movie-about">About</p>
        <p class="modal-movie-descript">{{overview}}</p>
        <div class="modal-movie-button-wrapper">
            <button data-name="watched" class="modal-movie-button modal-left-button button-is-active" type="button"
                onClick="onWatchedBtnClick()">delete from
                watched</button>
            <button data-name="queue" class="modal-movie-button button-is-active" type="button"
                onClick="onQueueBtnClick()">delete from queue</button>
        </div>
    </div>
</article>