{{#each this}}
<li class="movies-item">
    <div class="poster">
        <img class="image" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{poster_path}}" alt="{{title}}"
            data-id="{{id}}" />
    </div>

    <div class="info">
        <h3 class="info-title">{{title}}</h3>
        <ul class="info-container">
            {{#each genre_ids}} <li class="info-list">{{name}}</li>{{/each}}
            <li> | </li>
            <li class="info-list">{{release_date}}</li>
        </ul>
    </div>
</li>
{{/each}}